
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" th:fragment="sidebar">
        <div class="sb-sidenav-menu" th:fragment="sidebar">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">공통 항목</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    메인
                </a>
                <div class="sb-sidenav-menu-heading">부서 항목</div>
                <block th:if="${isProduct}">
                    <a class="nav-link collapsed" href="/product/regist" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        상품
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/employees/product/regist">상품 등록</a>
                            <a class="nav-link" href="/employees/product/manage">상품 관리</a>
                            <a class="nav-link" href="/employees/product/ipgo/list">입고 관리</a>
                            <a class="nav-link" href="/employees/order/list">주문 관리</a>
                        </nav>
                    </div>
                </block>
                <block th:if="${isManager}">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        직원 관리
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" href="/employees/register">직원 등록</a>
                            <a class="nav-link" href="/employees/list">직원 목록</a>
                        </nav>
                    </div>
                </block>
                <div class="sb-sidenav-menu-heading">현황</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    입고현황
                </a>
                <a class="nav-link" href="goods/goodsList.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    매출현황
                </a>
            </div>
        </div>
    </nav>
