<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.shoppingb.mapper.InquireMapper">
    <update id="inquireUpdate" parameterType="inquire">
        UPDATE inquire
        SET INQUIRE_SUBJECT = #{inquireSubject},
            INQUIRE_CONTENTS = #{inquireContents},
            INQUIRE_KIND = #{inquireKind},
            INQUIRE_DATE = #{inquireDate}
        WHERE member_num = #{memberNum}
          AND inquire_num = #{inquireNum}
          AND goods_num = #{goodsNum};
    </update>

    <insert id="inquireRegist" parameterType="inquire">
        insert into inquire (INQUIRE_NUM, MEMBER_NUM, goods_num, INQUIRE_SUBJECT, INQUIRE_CONTENTS, INQUIRE_KIND, INQUIRE_DATE)
                    values
                            (#{inquireNum}, #{memberNum}, #{goodsNum}, #{inquireSubject}, #{inquireContents}, #{inquireKind}, sysdate())
    </insert>

    <select id="inquireList" parameterType="inquire">
        SELECT *
        FROM inquire
        WHERE INQUIRE_ANSWER IS NULL
        ORDER BY INQUIRE_DATE DESC
            LIMIT 10;
    </select>
</mapper>