<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.shoppingb.mapper.MembersMapper">
    <insert id="membersRegist" parameterType="member">
        insert into members (MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW, MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_POST, MEMBER_REGIST
                            , GENDER, MEMBER_PHONE1, MEMBER_PHONE2, MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_POINT, MEMBER_EMAIL_CONF)
        values (#{memberNum},#{memberName},#{memberId},#{memberPw},#{memberAddr}, #{memberAddrDetail}, #{memberPost}, sysdate(),
                #{gender}, #{memberPhone1}, #{memberPhone2}, #{memberEmail}, #{memberBirth}, 0, 'N')
    </insert>

    <select id="membersLogin" parameterType="string" resultType="member">
        select MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW, MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_POST, MEMBER_REGIST
                         , GENDER, MEMBER_PHONE1, MEMBER_PHONE2, MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_POINT, MEMBER_EMAIL_CONF
        from members where member_id=#{memId} and member_pw=#{memPw}
    </select>

    <update id="membersUpdate" parameterType="member">
        update members set member_name=#{memberName}, member_email=#{memberEmail}, member_Addr=#{memberAddr}, member_addr_detail=#{memberAddrDetail}, member_post=#{memberPost}, MEMBER_PHONE1=#{memberPhone1}
        where member_num=#{memberNum}
    </update>
</mapper>