<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.shoppingb.mapper.PurchaseMapper">
    <insert id="purchaseInsert" parameterType="purchase">
        insert into purchase (
            PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL,
            DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM)
        values
            (#{purchaseNum}, sysdate(), #{purchasePrice}, #{deliveryAddr}, #{deliveryAddrDetail},
             #{deliveryPost}, #{deliveryPhone}, #{message}, "결제완료", #{memberNum})
    </insert>

    <insert id="purchaseListInsert" parameterType="purchaseList">
        insert into purchase_list
            (goods_num, PURCHASE_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)
        values
            (#{goodsNum}, #{purchaseNum}, #{purchaseQty}, #{goodsUnitPrice})
    </insert>

    <update id="purchaseGoodsIpgoUpdate" parameterType="purchaseList">
        UPDATE goods_ipgo
            JOIN (
            SELECT goods_num, MIN(made_date) AS oldest_date
            FROM goods_ipgo
            WHERE goods_num = #{goodsNum}
            ) AS subquery
        ON goods_ipgo.goods_num = subquery.goods_num
            AND goods_ipgo.made_date = subquery.oldest_date
            SET goods_ipgo.ipgo_qty = goods_ipgo.ipgo_qty - #{purchaseQty}
        WHERE goods_ipgo.ipgo_qty >= #{purchaseQty};
    </update>
</mapper>