<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.shoppingb.mapper.PurchaseMypageMapper">

    <resultMap id="PurchaseMypageResultMap" type="purchaseMypage">
        <association property="purchaseDTO" javaType="purchase">
            <id property="purchaseNum" column="PURCHASE_NUM"/>
            <result property="purchaseDate" column="PURCHASE_DATE"/>
            <result property="purchasePrice" column="PURCHASE_PRICE"/>
            <result property="deliveryAddr" column="DELIVERY_ADDR"/>
            <result property="deliveryAddrDetail" column="DELIVERY_ADDR_DETAIL"/>
            <result property="deliveryPost" column="DELIVERY_POST"/>
            <result property="deliveryPhone" column="DELIVERY_PHONE"/>
            <result property="message" column="MESSAGE"/>
            <result property="purchaseStatus" column="PURCHASE_STATUS"/>
            <result property="memberNum" column="MEMBER_NUM"/>
        </association>
        <association property="purchaseListDTO" javaType="purchaseList">
            <result property="goodsNum" column="GOODS_NUM"/>
            <result property="purchaseNum" column="PURCHASE_NUM"/>
            <result property="purchaseQty" column="PURCHASE_QTY"/>
            <result property="goodsUnitPrice" column="GOODS_UNIT_PRICE"/>
        </association>
        <association property="goodsDTO" javaType="goods">
            <result property="goodsNum" column="GOODS_NUM"/>
            <result property="goodsName" column="GOODS_NAME"/>
            <result property="goodsMainImage" column="GOODS_MAIN_IMAGE"/>
            <result property="goodsMainStoreImage" column="GOODS_MAIN_STORE_IMAGE"/>
        </association>
        <association property="reviewDTO" javaType="review">
            <result property="reviewNum" column="review_num"/>
            <result property="goodsNum" column="GOODS_NUM"/>
            <result property="purchaseNum" column="purchase_num"/>
            <result property="reviewDate" column="review_date"/>
            <result property="reviewContents" column="review_Contents"/>
            <result property="memberId" column="member_Id"/>
            <result property="rating" column="rating"/>
        </association>
    </resultMap>

    <select id="purchaseMypageInfo" parameterType="string" resultMap="PurchaseMypageResultMap">
        SELECT
            p.PURCHASE_NUM,
            p.PURCHASE_DATE,
            p.PURCHASE_PRICE,
            p.DELIVERY_ADDR,
            p.DELIVERY_ADDR_DETAIL,
            p.DELIVERY_POST,
            p.DELIVERY_PHONE,
            p.MESSAGE,
            p.PURCHASE_STATUS,
            pl.PURCHASE_QTY,
            pl.GOODS_UNIT_PRICE,
            g.GOODS_NUM,
            g.GOODS_NAME,
            g.GOODS_MAIN_IMAGE,
            g.GOODS_MAIN_STORE_IMAGE,
            r.REVIEW_NUM,
            r.review_contents,
            r.rating
        FROM PURCHASE p
                 JOIN PURCHASE_LIST pl ON p.PURCHASE_NUM = pl.PURCHASE_NUM
                 JOIN GOODS g ON g.GOODS_NUM = pl.GOODS_NUM
                 LEFT JOIN REVIEWs r ON r.PURCHASE_NUM = p.PURCHASE_NUM
            AND r.GOODS_NUM = g.GOODS_NUM
        WHERE p.MEMBER_NUM = #{memberNum}
    </select>

    <resultMap id="PurchaseMypageInquireResultMap" type="inquireGoods">
        <association property="inquireDTO" javaType="inquire">
            <id property="inquireNum" column="INQUIRE_NUM"/>
            <id property="memberNum" column="MEMBER_NUM"/>
            <id property="goodsNum" column="goods_num"/>
            <result property="inquireSubject" column="INQUIRE_SUBJECT"/>
            <result property="inquireContents" column="INQUIRE_CONTENTS"/>
            <result property="inquireKind" column="INQUIRE_KIND"/>
            <result property="inquireDate" column="INQUIRE_DATE"/>
            <result property="inquireAnswer" column="INQUIRE_ANSWER"/>
            <result property="inquireAnswerDate" column="INQUIRE_ANSWER_DATE"/>
            <result property="empNum" column="emp_num"/>
        </association>

        <association property="goodsDTO" javaType="goods">
            <result property="goodsNum" column="GOODS_NUM"/>
            <result property="goodsName" column="GOODS_NAME"/>
            <result property="goodsMainImage" column="GOODS_MAIN_IMAGE"/>
            <result property="goodsMainStoreImage" column="GOODS_MAIN_STORE_IMAGE"/>
        </association>
    </resultMap>

    <select id="purchaseMypageInquireInfo" parameterType="string" resultMap="PurchaseMypageInquireResultMap">
        SELECT
            i.INQUIRE_NUM, i.MEMBER_NUM, i.GOODS_NUM, i.INQUIRE_SUBJECT, i.INQUIRE_CONTENTS,
            i.INQUIRE_KIND, i.INQUIRE_DATE, i.INQUIRE_ANSWER, i.INQUIRE_ANSWER_DATE, i.EMP_NUM,
            g.GOODS_NUM AS GOODS_NUM, g.GOODS_NAME, g.GOODS_MAIN_IMAGE, g.GOODS_MAIN_STORE_IMAGE
        FROM inquire i
                 JOIN goods g ON i.GOODS_NUM = g.GOODS_NUM
        where member_num = #{memberNum}
    </select>
</mapper>