<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.shoppingb.mapper.ReviewMapper">
    <insert id="reviewRegist" parameterType="review">
        INSERT INTO reviews (REVIEW_NUM, goods_num, PURCHASE_NUM, REVIEW_DATE, REVIEW_CONTENTS, MEMBER_ID, rating)
        VALUES (#{reviewNum}, #{goodsNum}, #{purchaseNum}, sysdate(), #{reviewContents}, #{memberId}, #{rating})
            ON DUPLICATE KEY UPDATE REVIEW_DATE = sysdate(), REVIEW_CONTENTS = #{reviewContents}, rating = #{rating}
    </insert>

    <select id="reviewData" parameterType="review">
        select * from reviews where goods_num=#{goodsNum} and purchase_num=#{purchaseNum}
    </select>

    <delete id="reviewDelete" parameterType="review">
        delete from reviews where REVIEW_NUM=#{reviewNum} and goods_num=#{goodsNum} and PURCHASE_NUM=#{purchaseNum}
    </delete>
</mapper>